@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch :wght@400..700&display=swap');

title {

  font-family: 'Rubik Glitch', sans serif:
  color: blue;

body.default {
  
  background-image: url("/pages/terminal dungeons/images/LINK");
  background-size: cover;
  background-position: center;

  color: blue;
  font-family: 'Pixelify Sans', sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  
  margin: 0;
  
}

.text-box-1 {
  
  width: 85%%;
  background-color: black;
  color: blue;

  padding: 10px;
  border: 1px blue;
  word-break: break-word;
  
}
